@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;    
}


.wrapper {
    background-color: rgb(11, 163, 163);
    width: 420px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    color: white;
}